@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro');
* { margin:0; padding:0; box-sizing:border-box; }
header{
  font-color:#fff;
}
nav{
  font-size:1em;
  float: right;
}
nav a{
  text-decoration:none;
  color: #fff;
  margin: 1em;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
}
a:hover {
  color: black;
}
#one{
  	background-image: linear-gradient(rgba(14, 47, 16, .6), rgba(14, 47, 16, .6)), url("../images/adpro1.jpg");
    background-size: cover;
  	background-repeat: no-repeat;
  	color: #fff;
  	font-size: 22px;
  	border: 2px;
  	padding: 30px;
  	line-height: 150%;
}
.main{
    color: #fff;
    font-size: 30px;
    border: 10px;
    border-color: white;
    padding: 80px;
    text-align: center;
}
#three_column {
    background-color: #d0d1cc;
    border: 1px black solid;
    padding: 5px;
}
#three_column > * {
    background-color: #87a339;
    border: 1px black solid;
    padding: 2em;
    margin: 1%;
    float: left;
    width: 31.33%;
}
footer{
text-align: center;
color: #fff;
background-color: #d0d1cc
}
}
h1{
font-family: 'Source Sans Pro', sans-serif;
}
p{
	font-family: 'Source Sans Pro', sans-serif;
}
ul{font-family: 'Source Sans Pro', sans-serif;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
img{
  width: 25%;
  height: auto;
}

