@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro');
* { margin:0; padding:0; box-sizing:border-box; }
header{
  font-color:#fff;
}
nav{
  font-size:1.3em;
  float: right;
}
nav a{
  margin: 1em;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
}
a:hover {
  color: green;
}
a {
  text-decoration:none;
  color: black;
}
#one{
  	background-image: linear-gradient(rgba(248, 251, 249, 1), rgba(248, 251, 249, .05)), url("../images/adpro1.jpg");
    background-size: cover;
  	background-repeat: no-repeat;
  	color: black;
  	font-size: 22px;
  	border: 2px;
  	padding: 30px;
  	line-height: 150%;
}
.main{
    color: white;
    font-size: 30px;
    border: 1px white solid;
    border-color: white;
    background-color: rgba(76,76,77,.5);
    padding: 20px;
    margin: 50px;
    text-align: center;
}
#three_column {
    background-color:;
    border: 0px black solid;
    padding: 5px;
}
#three_column > * {
    background-color:;
    border: 0px black solid;
    padding: 2em;
    margin: 1%;
    float: left;
    width: 31.33%;
}
#two_column {
    background-image: linear-gradient(rgba(248, 251, 249, 0), rgba(248, 251, 249, 0)), url("../images/valves.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-size: 22px;
    border: 2px;
    padding: 30px;
    line-height: 150%;
}
#two_column > * {
    background-color:;
    border: 0px black solid;
    padding: 2em;
    margin: 1%;
    float: left;
    width: 48%;
}
#left_two_column {
    color: white;
    font-size: 30px;
    border: 2px white solid;
    border-color: white;
    background-color: rgba(76,76,77,.5);
    padding: 20px;
    margin: 50px;
    text-align: center;
}
.secondary{
  color: white;
  font-size: 50px;
  margin: 40px;
  text-align: center;
}
#one_column {
    background-color:;
    border: 0px black solid;
    padding: 5px;
}
#one_column > * {
    background-color: #F7F7F7;
    border: 0px black solid;
    padding: 2em;
    margin: 1%;
    float: left;
    width: 98%;
}
#middle_article{
  border-right: 1px lightgrey solid;
  border-left: 1px lightgrey solid;
}
footer{
text-align: center;
color: #fff;
background-color: #d0d1cc
padding:40px;
}
}
h1{
  font-family: 'Source Sans Pro', sans-serif;
}
h3{
  font-family: 'Source Sans Pro', sans-serif;
  padding-top:.3em;
  padding-bottom: .3em;
}
p{
	font-family: 'Source Sans Pro', sans-serif;
}
ul{font-family: 'Source Sans Pro', sans-serif;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix:before {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
img.resize_three_column{
  width: 100%;
  height: auto;
}
img{
  width: 30%;
  height: auto;
}
<div style='height: 300px; width: 100px; background-color: red'>
<img style='height: 100%; width: 100%; object-fit: contain' src='http://www.sherkspear.com/wp-content/uploads/2015/04/jsfiddle.png'/> 
</div>

